@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

h1,
h2,
h3 {
  letter-spacing: -0.02em;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #18181b;
  background: #fafaf9;
}

html {
  scroll-behavior: smooth;
}
